<html>
<head>
    <title>Toko Rayyan</title>
</head>
<body>
    <!-- Tampilkan nama dan npm -->
    <h1>{{ data.nama }}</h1>
    <h2>{{ data.npm }}</h2>
    <h2>{{ data.kelas }}</h2>


    <h2>Welcome, {{ username }}</h2>
    <p>Last login: {{ last_login }}</p>

    <h1>Toko Rayyan</h1>
    <ul>
        <!-- Produk dari database -->
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: Rp{{ product.price }}</p>
            </li>
        {% endfor %}
    </ul>

    <!-- Tombol untuk menambah produk baru -->
    <a href="{% url 'add_product' %}">Add Product</a>

    <!-- Tombol untuk logout -->
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
