<html>
<head>
    <title>Product List</title>
</head>
<body>
    <!-- Tampilkan nama dan npm -->
    <h1>{{ data.nama }}</h1>
    <h2>{{ data.npm }}</h2>
    <h2>{{ data.kelas }}</h2>

    <h1>Available Products</h1>
    <ul>
        <!-- Produk dari database -->
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: Rp{{ product.price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
