{% extends 'main/base.html' %}

{% block title %}
Daftar Produk
{% endblock title %}

{% block content %}
<div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold">Daftar Produk</h2>
    
    <!-- Tombol untuk menambah produk -->
    <a href="{% url 'add_product' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        Tambah Produk
    </a>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% if products %}
        {% for product in products %}
            <div class="bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden">
                <!-- Bagian body card -->
                <div class="p-4">
                    <h3 class="text-xl font-bold mb-2">{{ product.name }}</h3>
                    <p class="text-gray-700">Harga: Rp {{ product.price }}</p>
                    <p class="text-gray-600 mt-2">{{ product.description }}</p>
                </div>
                
                <!-- Tombol edit dan hapus -->
                <div class="p-4 border-t border-gray-200 bg-gray-50 flex justify-between">
                    <a href="{% url 'product_edit' product.id %}" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600">Edit</a>
                    <form action="{% url 'delete_product' product.id %}" method="POST" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">
                            Hapus
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="col-span-full text-center">
            <img src="https://w7.pngwing.com/pngs/278/860/png-transparent-red-x-illustration-check-mark-cross-red-tick-cross-miscellaneous-angle-cross.png" alt="No Products" class="mx-auto mb-4 h-24 w-24">
            <p class="text-gray-500">Tidak ada produk yang terdaftar. Silakan tambahkan produk baru.</p>
        </div>
    {% endif %}
</div>
{% endblock content %}
